* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


#overlay {
    height: 100%;
    width:100%;
    background: rgba(0,0,0, .8);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content:center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: red;
    border-radius: 100%;
    margin-top: 500px;
    animation: round 1s linear infinite;
}
    
    @keyframes round {
        from{transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }